* {
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    box-sizing: border-box;
}

.display,
.nav {
    display: none;
}

.signed {
    display: inline-block;
    background-color: red;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #fff !important;
    background-color: #0159a3;
    border-radius: 50%;
}

:root {
    --parent: #e4e0e1;
    --main: #0159a3;
    --last: #000;
}

body {
    font-family: "cairo";
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 0 0 6px 1px #00000026;
}

header h1 img {
    width: 75px;
    margin: 10px;
}

.search {
    width: 60%;
    margin-bottom: 20px;
}

.search select {
    padding: 10px 20px;
    width: 20%;
    border: var(--main) 3px solid;
    border-radius: 20px;
}

.search input {
    padding: 10px 20px;
    width: 70%;
    border: var(--main) 3px solid;
    border-radius: 20px;
}

.signing {
    margin-bottom: 20px;
    text-align: right;
}

.signing a {
    margin: 0 15px;
    color: var(--main);
    cursor: pointer;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: var(--main);
}

nav li {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
    color: var(--parent);
    padding: 5px;
    font-weight: bold;
}

nav li a {
    color: var(--parent);
    text-decoration: none;
}

.parent-1 {
    display: flex;
    margin: 10px;
}

.parent-1 .slide {
    width: 20%;
    border: 1px solid var(--parent);
    box-shadow: 0 0 6px 1px #00000026;
}

.parent-1 .slide li {
    width: 70%;
    margin: 20px auto;
    list-style: none;
}

.parent-1 .slide li i {
    margin: 10px;
}

.parent-1 .slide li img {
    width: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.parent-1 .slide li a {
    text-decoration: none;
    font-weight: 800;
    color: var(--main);
    font-size: 15px;
}

.parent-1 .display {
    width: 80%;
    height: 500px;
    background-color: var(--last);
    margin: 0 10px;
}

.parent-1 .display {
    background-image: url("../hero/dr\ robot.jpg");
    background-size: contain    ;
    background-position: center center;
    background-repeat: no-repeat;
}

.parent-1 .display {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parent-1 .display button {
    width: 60px;
    height: 60px;
    padding: 20px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--parent);
    color: var(--main);
    font-weight: bold;
    cursor: pointer;
    background-color: #0000004b;
}

.parent-2 {
    display: flex;
    flex-flow: wrap row;
}

.parent-2 .add {
    width: 20%;
    height: 400px;
    background-color: #ddd;
    margin: 10px;
    background-image: url("../adds/1.jpg");
    background-size: 100% 100%;
}

.parent-2 .display-products {
    width: 75%;
    height: 400px;
    margin: 10px;
    background-color: #ddd;
    position: relative;
    overflow: hidden;
}

.parent-2 .display-products .direction button {
    width: 60px;
    height: 60px;
    padding: 20px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--parent);
    color: var(--last);
    font-weight: bold;
    cursor: pointer;
    background-color: #aaa3a34b;
}

.left {
    position: absolute;
    left: 0;
    top: 50%;
}
.right {
    position: absolute;
    right: 0;
    top: 50%;
}

.parent-2 .display-products h2 {
    background-color: #fff;
}

.features {
    padding: 30px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 6px 1px #00000026;
}

.feature {
    display: flex;
}

.feature .icon {
    margin-right: 20px;
}

.parent-3 {
    display: flex;
    flex-flow: wrap row;
}

.parent-3 .add {
    width: 20%;
    height: 600px;
    background-color: #ddd;
    margin: 10px;
    background-image: url("../adds/2.jpg");
    background-size: 100% 100%;
}

.parent-3 .display-products {
    width: 75%;
    height: 600px;
    margin: 10px;
    background-color: #ddd;
    overflow: hidden;
    display: flex;
    padding: 10px;
}

.parent-3 .display-products .sec-1,
.parent-3 .display-products .sec-2 {
    width: 50%;
    height: 100%;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 0 6px 1px #00000026;
}

.parent-3 .display-products .sec-1 .add-1,
.parent-3 .display-products .sec-2 .add-2 {
    width: 100%;
    height: 200px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.parent-3 .display-products .sec-1 .add-1 {
    background-image: url("../adds/SUBER-BAG-2.webp");

}

.parent-3 .display-products .sec-2 .add-2 {
    background-image: url("../adds/SUBER-BAG-1.webp");

}

.parent-3 .display-products .sec-1 .slide-1,
.parent-3 .display-products .sec-2 .slide-2 {
    width: 95%;
    height: 50%;
    margin: 0 auto;
    box-shadow: 0 0 6px 1px #00000026;
} 

.trendy-box {
    margin-top: 70px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border: #00000026 1px solid;
}

.trendy-box .Trendy-left-img {
    width: 50%;
}

.trendy-box .main-title {
    width: 50%;
}

.trendy-box .main-title h3 {
    border: #00000026 1px solid;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.trendy-box .main-title p {
    text-align: center;
}

.trendy-box .main-title .desc1 {
    letter-spacing: 10px;
    font-weight: bold;
    word-spacing: 3px;
    font-size: 12px;
}

.trendy-box .main-title .desc2 {
    color: #0000006b;
    width: 70%;
    margin: 0 auto;
}

.trendy-box .main-title .check-all {
    text-align: center;
    margin: 30px;
} 

.trendy-box .main-title a {
    text-decoration: none;
    font-weight: bold; 
    font-size: 15px;
    background-color: #0073cf;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    
}

.trendy-box .main-title .products-trendy {
    border: #0000004b 1px solid;
    height: 300px;
    position: relative;
}

.trendy-box .main-title .products-trendy button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
}

.trendy-box .main-title .products-trendy .move1  {
    position: absolute;
    top: 50%;
    left: 10px;
}

.trendy-box .main-title .products-trendy .move2  {
    position: absolute;
    top: 50%;
    right: 10px;
}

.Featured-Products {
    width: 95%;
    margin: 10px auto;
    background-color: #0073cf;
    text-align: center;
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
}

.control {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.control .child1 {
    font-size: 30px;
    font-weight: bold;
}

.control .child2 button {
    margin: 0 10px;
    padding: 10px;
    background-color: #0159a3;
    color: #fff;
    border: none;
    border-radius: 20px;
}

.red-btn {
    background-color: #bd2d2d !important;
    color: #fff;
}

.cards-product {
    width: 95%;
    margin: 10px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
}

.card {
    width: 30%;
    margin: 10px;
    height: 400px;
    background-color: #ddd;
}

.line {
    width: 98%;
    height: 1px;
    background-color: #0000008e;
    margin: 10px auto;
}

.container {
    border: 1px solid #00000028;
    width: 95%;
    margin: 0 auto;
}

.categ-sec {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}

.catee {
    margin: 10px;
}

.addss {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}

.adds img {
    width: 800px;
    margin: 10px;
}

.brands {
    width: 95%;
    margin: 30px auto;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    opacity: 0.8;
    padding: 10px;
    background-color: #eee;
}

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 4px 8px 14px 5px #00000047;
    font-size: 20px;
    background-color: #0073cf;
    color: #fff;
    padding: 50px;
}

footer div h5 {
    font-size: 20px;
}

footer div ul li {
    list-style: none;
    font-weight: 600;
    margin: 10px 0;
}

footer div ul li a {
    color: #fff;
    text-decoration: none;
}

footer div ul li i {
    margin-right: 20px;
}

.line-white {
    width: 90%;
    height: 1px;
    background-color: #fff;
    margin: 10px auto;
}

